body {
  font-size: 25px;
}

h1, h2 {
  text-align: center;
}

.inputForm{
  width: 100%;
}

.todoList {
  width: min(90vw, 1000px);
  margin: 0 auto;
}

.todo {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.todo + .todo {
  margin-top: 1rem;
}

.done {
  text-decoration: line-through;
  color: red;
}
